fastapi
uvicorn
streamlit
pydantic-settings
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
transformers
torch
python-dotenv
loguru
tiktoken
sqlalchemy
psycopg2-binary
python-multipart
faiss-cpu
rank-bm25
